In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
iris = pd.read_csv('iris.csv')
iris.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
iris['class'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: class, dtype: int64

### Amostragem com apenas 50% dos dados, ou seja 75 de 150, ou 25 amostras de cada um

In [13]:
x, _, y, _ = train_test_split(iris.iloc[:, 0:4], iris.iloc[:, 4], test_size = 0.5, stratify = iris.iloc[:,4])

y.value_counts()

Iris-virginica     25
Iris-versicolor    25
Iris-setosa        25
Name: class, dtype: int64

In [15]:
infert = pd.read_csv('infert.csv')
infert.head()

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32

In [19]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [22]:
lista = infert['education'].value_counts()
sum(lista)

248

#### Para coletar uma amostra de forma justa devemos considerar q cada faixa de idade possui uma quantidade de dados diferente. Qual Ã© o tamanho da amostra para cada faixa?

In [29]:
a = (120 / 248) * 100 # 6-11yrs
b = (116 / 248) * 100 # 12+ yrs
c = (12  / 248) * 100 # 0-5yrs

lista_amostra =  a,b,c
lista_amostra

(48.38709677419355, 46.774193548387096, 4.838709677419355)

In [34]:
x1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1], test_size = 0.6, stratify = infert.iloc[:, 1])
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64